<p>{{fullname}}</p>
<p>{{email}}

----------
Educational details are:
	Qualification	: {{quafn }}
	University	: {{ univ }}

----------






<!--
<p>
{% if latest_res_list1 %}
    
    {% for poll in latest_res_list1 %}
       <p> {{poll.Full_name }}</p>
       <p>{{ poll.Email_id }}</p> 
    {% endfor %}

{% else %}
 {% for poll in latest_res_list1 %}
       <p> {{poll.Full_name }}</p>
       <p>{{ poll.Email_id }}</p> 
    {% endfor %}
<p>message not found        ! " # $ % & ' ( ) * + , - . / 
      0 1 2 3 4 5 6 7 8 9 : ; < = > ? @
      A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
      [ \ ] ^ _ `
      a b c d e f g h i j k l m n o p q r s t u v w x y z 
      { | } ~

        ¡ ¢ £ ¤ ¥ ¦ § ¨ © ª « ¬ ­ ® ¯ 
      ° ± ² ³ ´ µ ¶ · ¸ ¹ º » ¼ ½ ¾ ¿

      À Á Â Ã Ä Å Æ Ç È É Ê Ë Ì Í Î Ï Ð Ñ Ò Ó Ô Õ Ö
</p>
{% endif %}

{% if latest_res_list2 %}
    <ul>
    {% for poll in latest_res_list2 %}
       <li>{{ poll.Qualifaction }}</li> 
       <li>{{ poll.University}}</li> 
       <li>{{ poll.Year_of_Passing}}</li>
       <li>{{ poll.Aggrigation }}</li> 
    {% endfor %}
    </ul>
{% endif %}

{% if latest_res_list3 %}
    <ul>
    {% for poll in latest_res_list3 %}
       <li>{{ poll.Job_Type }}</li> 
       <li>{{ poll.Total_Experience_in_months }}</li> 
       <li>{{ poll.Current_Industry}}</li> 
       <li>{{ poll.Functional_Area }}</li> 
       <li>{{ poll.Key_Skills }}</li> 

    {% endfor %}
    </ul>
{% endif %}</p>
<tr><td><a id="conv" href="/pdf/">convert</a></td></tr>
!-->
