Full_name	:	{{fullname}}	<br>
Email_id	:	{{mailing}}	<br>
------------------------------------ 	<br>
<h5>Educational Details:</h5> 		<br>
------------------------------------    <br>
Qualification	:	{{qua}}		<br>
University 	:	{{univ}}	<br>
Year_of_Passing :	{{year}}	<br>
Percentage 	:	{{perc}}	<br>
------------------------------------	<br>
<h5>Professional Details:</h5>		<br>
------------------------------------	<br>
Job_Type	:	{{job}}		<br>
Total_Experience:	{{exp}}		<br>
Current_Industry:	{{ind}}		<br>
Functional_Area	:	{{fun}}		<br>
Key_Skills	:	{{key}}		<br> 

